[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-taggit-autosuggest = {editable = true, git = "https://github.com/iarp/django-taggit-autosuggest.git"}
django-bleach = "*"
workdays = "*"
django-sslify = "*"
pylibmc = "*"
mysql-connector-python = "*"
xlrd = "*"
pytz = "*"
ssh = "*"
six = "*"
simplejson = "*"
requests = "*"
reportlab = "*"
pytidylib = "*"
python-documentcloud = "*"
python-dateutil = "*"
pycrypto = "*"
pypdf = "*"
mimeparse = "*"
html5lib = "*"
html2text = "*"
gunicorn = "*"
greenlet = "*"
django-tastypie = "*"
django-taggit = "*"
django-storages = "*"
django-s3-folder-storage = "*"
django-registration = "*"
django-pylibmc-sasl = "*"
django-heroku-memcacheify = "*"
django-guardian = "*"
django-filter = "*"
django-extensions = "*"
django-debug-toolbar = "*"
django-compressor = "*"
django-appconf = "*"
dj-database-url = "*"
boto = "*"
werkzeug = "*"
south = "*"
pastescript = "*"
pastedeploy = "*"
paste = "*"
markdown = "*"
fabric = "*"
django = "*"
cheetah3 = "*"
xhtml2pdf = "*"
pillow = "*"
newrelic = "*"
django-formtools = "*"
mysqlclient = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.9"
